:root {
  --primary-color: #00005c;
  --bg-color: #2b2b2b;
  --text-color: #ffe277;
  --receiver-text-color: #ffe277;
  --sender-text-color: #deff77;
  --heading-color: #ffb367;
  --input-bg-color: #ffe2bc;
  --container-bg-color: #2b2b2b;
  --user-name-color: #2b2b2b;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
}
