.container {
  /* background-color: red; */
  /* border: 1px solid yellow; */
  width: 100%;
  /* height: 100%; */
}

.chatFormContainer {
  position: relative;
  top: 5px;
  width: 100%;
  /* border: 5px solid red; */
  height: 45vh;
  width: 100%;
}

.outerContainer {
  width: 90%;
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  border: 1px solid #fc5185;
  /* background-color: rgba(95, 45, 54, 0.72); */
  border-radius: 10px;
}

.heading {
  color: #fc5185;
  text-align: center;
  font-size: 2rem;
  /* text-decoration: underline; */
}

.activeRoomsContainer {
  position: relative;
  top: 0px;
  width: 100%;
  height: 40vh;
  /* border: 5px solid yellow; */
  /* overflow-y: auto; */
}

.onlineRoomsContainer {
  /* background-color: blue;
   */
  /* border: 5px solid red; */
  width: 90%;
  height: 100%;
  position: relative;

  margin: auto;
}

.fieldContainer {
  margin-top: 20px;
  height: auto;
  text-align: center;
}

.inputField input:focus {
  outline: none;
  background-color: #ffb9b9;
  color: #27304e;
}

.inputField {
  font-size: 1.5rem;
  color: #eb89b5;
  margin-bottom: 25px;
}
label {
  margin-left: 10px;
  margin-right: 10px;
  color: #eb89b5;
}
.inputField input {
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 10px;
  border: transparent;
}

.joinRoomBtn {
  cursor: pointer;
  color: #ffffff;
  margin-left: 35px;
  font-size: larger;
  font-weight: 800;
  border: 1px solid #707070;
  background-color: #6c63ff;
  filter: opacity(0.7);
  padding: 10px;
  margin-bottom: 6%;
  transition-property: background-color, text-decoration;
  transition-duration: 0.5s;
  border-radius: 10px;
}

.joinRoomBtn:hover {
  background-color: #6c63ff;
  filter: opacity(1);

  text-decoration: underline;
}

.joinRoomBtn:focus {
  outline: none;
  border: none;
  background-color: #6c63ff;
  filter: opacity(1);
  text-decoration: underline;
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  .outerContainer {
    width: 90%;
    position: relative;
  }

  .chatFormContainer {
    position: relative;
    top: 20px;
    width: 100%;
    /* border: 5px solid red; */
    height: auto;
    width: 50%;
    float: left;
  }

  .activeRoomsContainer {
    float: left;
    position: relative;
    top: 20px;
    width: 50%;
    height: auto;
  }

  .onlineRoomsContainer {
    width: 90%;
    min-height: 100px;
    max-height: 500px;
    /* overflow: hidden; */
  }
}
