.infoBar {
  width: 100%;
  background-color: rgba(255, 17, 176, 0.445);
  margin: 0 auto;
  height: 15%;
  line-height: 50px;
  text-align: center;
}

.infoBarHeader {
  display: inline-block;
  width: 50%;
  color: var(--heading-color);
  font-size: 1.5rem;
}

.typingStatus {
  color: #fff59c;
  float: left;
  padding-left: 10px;
  clear: both;
}

.messageRoom {
  text-transform: capitalize;
}

.exitChatIcon {
  width: 10%;
  float: right;
}
.exitChatIcon a {
  font-size: 1.8rem;
  color: var(--heading-color);
  text-decoration: none;
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  .infoBar {
    width: 100%;
    background-color: rgba(255, 17, 176, 0.445);
    margin: 0 auto;
    height: 10%;
    line-height: 50px;
    text-align: center;
  }

  .typingStatus {
    color: #fff59c;
    float: left;
    padding-left: 10px;
    clear: none;
  }
}
