.container {
  margin-top: 10px;
}
.room {
  margin: auto;
  text-align: left;
  font-size: 1.5rem;
  border-radius: 20px;
  padding: 10px 10px 10px 20px;
  width: 65%;
  text-transform: capitalize;
  margin-bottom: 10px;
  overflow: auto;
  color: #6c63ff;
  border: 1px solid #6c63ff;
  background-color: #ffffff;
}
