.onlineUsersDiv {
  /* background-color: #6c63ff; */
  background-color: rgba(108, 99, 255, 0.2);
  /* filter: opacity(0.2); */
  height: 94vh;
}

.onlineUsersLists {
  height: 75vh;
  overflow-y: auto;
  /* border: 2px solid red; */
}

.onlineUsersHeader {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 1.1rem;
  text-decoration: underline;
  /* background-color: #fff3cd; */
  background-color: rgba(57, 65, 92, 0.9);
  font-weight: 700;
  height: 80px;
  color: #fc5185;
}

.totalOnlineUsers {
  height: 5%;
  background-color: #fff3cd;
  font-weight: 600;
  font-size: 1.1rem;
  padding-bottom: 10px;
}

.onlineUsersNum {
  color: #fc5185;
}

.onlineUsersContainer {
  height: 85%;
  overflow-y: auto;
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  .onlineUsersHeader {
    font-size: 1.5rem;
    text-decoration: underline;
    /* background-color: #fff3cd; */
  }
}
