.onlineUsers {
}

.usersEven,
.usersOdd {
  text-transform: capitalize;
  padding: 10px;
  line-break: anywhere;
}

.usersEven {
  background-color: #91e43f99;
}

.usersOdd {
  background-color: #f6f578;
}
