.container {
  border-radius: 20px;
  border: 1px solid #fc5185;
  background-color: #ffffff;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}
.roomHeader {
  font-size: 2rem;
  color: #fc5185;
  font-weight: 600;
  /* text-decoration: underline; */
  text-align: center;
}

.OnlineRoomsContainer {
  margin-top: 20px;
  text-align: center;

  max-height: 200px;
  /* overflow: hidden;
  overflow-y: auto; */
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 30px;
  /* border: 2px solid pink; */
}

.scrollContainer {
  overflow: hidden;
  overflow-y: auto;
  max-height: 170px;
}

h2 {
  color: #6c63ff;
}

@media screen and (min-width: 768px) {
  .OnlineRoomsContainer {
    max-height: 400px;
  }

  .scrollContainer {
    overflow: hidden;
    overflow-y: auto;
    max-height: 350px;
  }
}
